/*cores*/

$primary_color: #5f4dee;
$secundary_color: #f0ffff;
$terciary_color: #494949;
$title_color: #2f363b;
$paragraph-color: #6b747b;
$lightgray: #f4f9ff;

/*tamanhos de fontes*/

$title_sm: 1.4em;
$paragraph-sm: 14px;