@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/*cores*/
/*tamanhos de fontes*/
/*keyframe da animação do carrosel*/
@-webkit-keyframes scroll {
  0% {
    right: 0px;
  }
  15% {
    right: 0px;
  }
  /*porcentagem anterior ao estouro para aumentar a velocidade do movimento*/
  16% {
    right: 205px;
  }
  31% {
    right: 205px;
  }
  32% {
    right: 410px;
  }
  49% {
    right: 410px;
  }
  50% {
    right: 615px;
  }
  65% {
    right: 615px;
  }
  66% {
    right: 820px;
  }
  83% {
    right: 820px;
  }
  84% {
    right: 1025px;
  }
  99% {
    right: 1025px;
  }
  100% {
    right: 1230px;
  }
  /*soma de todas as imagens mais o margin*/
}
@keyframes scroll {
  0% {
    right: 0px;
  }
  15% {
    right: 0px;
  }
  /*porcentagem anterior ao estouro para aumentar a velocidade do movimento*/
  16% {
    right: 205px;
  }
  31% {
    right: 205px;
  }
  32% {
    right: 410px;
  }
  49% {
    right: 410px;
  }
  50% {
    right: 615px;
  }
  65% {
    right: 615px;
  }
  66% {
    right: 820px;
  }
  83% {
    right: 820px;
  }
  84% {
    right: 1025px;
  }
  99% {
    right: 1025px;
  }
  100% {
    right: 1230px;
  }
  /*soma de todas as imagens mais o margin*/
}

/*keyframe da animação do botão de vídeo*/
@-webkit-keyframes pulse-border {
  100% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    background-color: transparent;
  }
}
@keyframes pulse-border {
  100% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    background-color: transparent;
  }
}

/*mixin para botões*/
* {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  padding: 5px;
  color: #f0ffff;
}

hr {
  margin: 10px 0px;
  border: 1px solid;
}

/******/
header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 200;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 40px;
  background-color: #5f4dee;
  color: #f0ffff;
}

header img {
  display: inline;
  width: 75px;
  z-index: 999;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-top {
  background-color: #5f4dee;
  padding-top: 15px;
  color: #f0ffff;
  overflow: hidden;
}

svg.header-decoration {
  margin: -10px -10px -5px -10px;
}

.container-carousel {
  position: relative;
  max-width: 585px;
  overflow-y: auto;
  overflow-x: scroll;
  margin-bottom: 50px;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0;
  cursor: -webkit-grab;
  cursor: grab;
  margin: 0px;
  padding: 20px 0px;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.carousel:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.carousel img {
  display: block;
  margin-right: 55px;
}

.carousel::-webkit-scrollbar {
  width: 0px;
  border-radius: 5px;
}

.container-carousel::-webkit-scrollbar {
  height: 0px;
}

.burguer {
  display: none;
}

#check {
  display: none;
}

.menu {
  text-align: end;
  float: right;
  font-size: 0.9rem;
  font-weight: 600;
}

/********não soube colocar o menu "burguer"*******/
.dropbox {
  display: inline-block;
  margin-right: 5px;
}

.dropbox:hover .dropbox-content {
  display: block;
  z-index: 999;
}

.dropbox > a::after {
  content: '';
  position: relative;
  top: 12px;
  left: 2px;
  border-top: 5px solid white;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.dropbox-content {
  display: none;
  position: absolute;
  background-color: #5f4dee;
  border-radius: 0px 0px 4px 4px;
  font-size: 14px;
  font-weight: 600;
}

.dropbox-content ul {
  list-style-type: none;
  text-align: left;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.315);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.315);
}

.dropbox-content hr {
  border: none;
  height: 1px;
  background-color: #f0ffff;
  margin: 13px 0px;
}

.menu .login-btn {
  padding: 6px 25px;
  border: 1px solid #f0ffff;
  border-radius: 25px;
  margin: 0px 10px;
  z-index: 3;
}

.menu .login-btn:hover {
  background-color: #f0ffff;
  color: #5f4dee;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div h1 p {
  display: inline;
}

div.header-container {
  margin: 60px auto 0px auto;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.header-container img {
  -webkit-box-shadow: 6px 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-bottom: 40px;
}

div.header-container p {
  margin: 20px 0px 30px 0px;
  color: #f0ffff;
}

div.header-container > div {
  margin-bottom: 40px;
  text-align: center;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 14px;
}

.btns a.container-btn {
  padding: 12px 23px;
  border: 1px solid #f0ffff;
  border-radius: 25px;
  background-color: #f0ffff;
  color: #5f4dee;
  margin-right: 5px;
}

.btns a.container-btn:hover {
  background-color: #5f4dee;
  color: #f0ffff;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.btns a.container-btn2 {
  padding: 12px 23px;
  border: 1px solid #f0ffff;
  border-radius: 25px;
  margin-left: 5px;
}

.btns a.container-btn2:hover {
  background-color: #f0ffff;
  color: #5f4dee;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/******/
section {
  margin: 80px 0px;
}

section div {
  margin: auto;
  max-width: 1050px;
}

section .description {
  text-align: center;
  color: #5f4dee;
}

section h2 {
  max-width: 400px;
  text-align: center;
  margin: 5px auto 40px auto;
  color: #2f363b;
}

section div.marketing-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

section div.marketing-ctn span {
  margin-bottom: 40px;
  color: #2f363b;
}

section div.marketing-ctn img {
  width: 50%;
}

section div.marketing-ctn p {
  max-width: 600px;
  color: #6b747b;
}

.container-gray {
  background-color: #f4f9ff;
  padding: 80px 0px;
}

.container-gray .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #6b747b;
  border-color: #b8b8b8;
  margin: 40px 0px 20px 0px;
  overflow-x: hidden;
}

.container-gray .links .active {
  color: #5f4dee;
  border-color: #5f4dee;
}

.container-gray .links p {
  display: inline;
  font-size: 1em;
}

.container-gray #frame1-btn, .container-gray #frame2-btn, .container-gray #frame3-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  border-bottom: 2px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 10px 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline;
}

.container-gray #frame1-btn:hover, .container-gray #frame2-btn:hover, .container-gray #frame3-btn:hover {
  color: #5f4dee;
  border-color: #5f4dee;
}

.container-gray #frame1-btn p, .container-gray #frame2-btn p, .container-gray #frame3-btn p {
  display: inline;
  font-weight: 600;
  margin-left: 5px;
}

.container-gray .button-active {
  color: #5f4dee;
}

.container-gray #frame2 {
  display: none;
}

.container-gray #frame3 {
  display: none;
}

.container-video {
  padding: 0px 20px;
}

.image-ctn {
  width: 100%;
  margin: 0px;
}

.play-video {
  position: relative;
  cursor: pointer;
}

.play-video a {
  padding: 0;
}

.play-button {
  position: absolute;
  left: 48%;
  top: 43%;
  display: block;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.play-button::after {
  content: "";
  position: absolute;
  display: block;
  top: -43%;
  right: -4%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #5f4dee;
}

.play-button::before {
  content: "";
  position: absolute;
  display: block;
  z-index: 3;
  top: -43%;
  right: -4%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #5f4dee;
  -webkit-animation-name: "pulse-border";
          animation-name: "pulse-border";
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: ease-out;
          animation-direction: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.play-button span {
  position: relative;
  display: block;
  z-index: 10;
  width: 0;
  background-color: transparent;
  border-left: 20px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

.text-ctn {
  color: #6b747b;
  margin: 20px auto;
  max-width: 650px;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
  padding: 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex ul {
  padding: 0px;
  list-style-position: inside;
  list-style-type: square;
  margin-bottom: 30px;
}

.flex ul li {
  margin-bottom: 10px;
  color: #6b747b;
}

.flex ul li::marker {
  color: #5f4dee;
  margin: 0px;
}

.flex h3 {
  font-size: 1.8em;
  color: #2f363b;
}

.flex p {
  margin: 20px 0px;
  color: #6b747b;
}

.flex .text-float {
  margin: 0px;
}

.flex .text-float .form-submit {
  text-decoration: underline;
  color: #5f4dee;
  padding: 0;
}

.flex .login-btn {
  padding: 12px 35px;
  background-color: #5f4dee;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f0ffff;
  border: 1px solid #5f4dee;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.flex .login-btn:hover {
  background-color: #f0ffff;
  color: #5f4dee;
  border: 1px solid #5f4dee;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.flex hr {
  border-color: #b8b8b8;
}

.features-img {
  margin: 45px 0px 0px 0px;
}

.features-frame {
  margin: 10px 0px 30px 0px;
}

.flex > .price {
  border: 2px solid #5c2be23d;
  padding: 50px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 280px;
  border-radius: 6px;
  text-align: center;
  margin: 0px 5px 30px 5px;
}

.flex > .price h3 {
  color: #5f4dee;
  font-size: 1.2em;
  color: #2b44ff;
}

.flex > .price ul {
  text-align: justify;
  list-style: none;
  padding: 0px 5px;
  text-indent: 0px;
  margin-bottom: 35px;
}

.flex > .price .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0px;
}

.flex > .price .cost {
  font-size: 2.7em;
  font-weight: 700;
  display: inline;
}

.flex > .price .value {
  font-size: 25px;
  margin-right: 5px;
  font-weight: 400;
  display: inline;
}

.flex > .price p {
  margin-top: 0px;
  color: #494949;
  margin-bottom: 0;
}

.flex > .price .deadline {
  color: #6b747b;
}

.flex > .price li {
  color: #6b747b;
}

.flex > .price li i {
  font-size: 13px;
  color: #2b44ff;
  margin-right: 5px;
}

.flex > .price li .fa-times {
  color: #6b747b;
}

.flex > .price a {
  font-size: 14px;
  font-weight: 600;
}

.flex > .price hr {
  margin: 30px 0px;
  border-color: #5c2be23d;
}

.container-swiper {
  margin: 80px auto;
}

#personal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

#personal .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  padding: 0px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#personal .swiper-slide span {
  text-align: center;
}

#personal img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

#personal blockquote {
  color: #6b747b;
  font-style: italic;
  margin-bottom: 10px;
}

#personal cite {
  color: #2f363b;
  font-weight: 700;
  font-style: normal;
}

#personal::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

.email-box {
  background-color: #f5f6fb;
  border-radius: 6px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 25px;
}

.email-box div {
  text-align: center;
}

.email-box h2 {
  text-align: center;
  margin: 10px auto 30px auto;
  font-size: 2.0em;
}

.email-box input {
  border: 1px solid #b8b8b8;
  height: 40px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.email-box .check {
  height: 15px;
  margin-right: 10px;
}

.email-box label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  margin: 10px 0px 15px 0px;
  font-size: 10px;
  color: #6b747b;
  text-align: start;
}

input.txt {
  width: 100%;
}

form .login-btn {
  position: relative;
  background-color: #5f4dee;
  width: 80%;
  height: 3rem;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
  color: white;
}

form .login-btn:hover {
  border-color: #5f4dee;
  background-color: #f0ffff;
  color: #5f4dee;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#content-icons {
  margin: 30px auto;
  text-align: center;
  font-size: 0.8em;
}

#content-icons a {
  padding: 0px;
}

#content-icons .fab {
  width: 23px;
  border-radius: 50%;
  padding: 12px;
  background-color: #5f4dee;
  color: white;
  font-size: 2em;
  margin: 0px 5px;
}

#content-icons .fab:hover {
  color: #5f4dee;
  background-color: #f4f9ff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/******/
footer {
  color: #ffffff;
  padding: 0px;
  background-color: #5f4dee;
  font-size: 14px;
}

footer span {
  margin-bottom: 20px;
}

footer h4 {
  margin: 10px 0px;
}

footer p {
  margin-right: 5px;
  color: #f0ffff;
}

footer ul {
  list-style: none;
  padding-left: 0px;
}

footer li {
  margin-bottom: 5px;
}

footer a {
  padding: 0px;
}

footer div {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #5f4dee;
}

.footer-frame {
  fill: #5f4dee;
  position: relative;
  top: 5px;
}

/******/
#modal-btn {
  border: none;
  background: transparent;
  color: #f4f9ff;
  font-weight: 600;
  cursor: pointer;
}

/* The Modal (background) */
.modal, #modalVideo, #lightbox {
  display: none;
  /*mudar para display none*/
  position: fixed;
  /* Stay in place */
  z-index: 300;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.75);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
  background-color: #fefefe;
  margin: 3% auto;
  width: 80%;
  min-width: 330px;
}

/* The Close Button */
.close, .closeVideo, .close-lightbox {
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 5;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close-lightbox:hover,
.close-lightbox:focus,
.closeVideo:hover,
.closeVideo:focus,
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalRegister {
  background-color: #f4f9ff;
  /* Set the size of the div element that contains the map */
}

.modalRegister .register-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 30px 30px 0px 30px;
}

.modalRegister .register-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline;
  padding: 0px;
}

.modalRegister .register-container div span {
  float: left;
  width: 275px;
}

.modalRegister .btn-container {
  margin: 10px auto 20px auto;
}

.modalRegister #map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.modalRegister h2 {
  color: #2f363b;
  font-size: 2em;
  margin: auto;
  text-align: center;
}

.modalRegister h3 {
  color: #2f363b;
  font-size: 1.3em;
  margin: 0px;
  padding: 20px 0px;
}

.modalRegister label {
  font-size: 1.1em;
  font-weight: 600;
  color: #494949;
  text-align: left;
}

.modalRegister input {
  margin-bottom: 20px;
  width: 250px;
  height: 25px;
  border-radius: 2px;
  border: 2px solid #b8b8b8;
  margin-right: 2px;
}

.modalRegister .submit {
  padding: 5px 10px;
  border: 1px solid #f0ffff;
  border-radius: 25px;
  border: 1px solid #5f4dee;
  color: #f0ffff;
  background-color: #5f4dee;
  border-radius: 25px;
  height: 50px;
  width: 200px;
  margin: auto;
  cursor: pointer;
}

.modalRegister .submit:hover {
  background-color: #f0ffff;
  color: #5f4dee;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/********** modal do vídeo do youtube **********/
#modalVideo {
  overflow: hidden;
}

#modalVideo .modalContent {
  max-width: 900px;
  margin: 10% auto;
  background-color: transparent;
  border: 0;
}

/***************** modal lightbox *******************/
#lightbox {
  overflow: scroll;
}

#lightbox .modalContent {
  height: auto;
  max-width: 1150px;
  padding: 15px;
  position: relative;
}

#lightbox .lightbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

#lightbox h2 {
  font-size: 1.7em;
  color: #2f363b;
  margin-top: 35px;
}

#lightbox h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #5f4dee;
  margin-top: 10px;
}

#lightbox h3 {
  font-size: 1.5em;
  margin-top: 10px;
  color: #2f363b;
}

#lightbox p {
  padding: 20px 0px;
  line-height: 25px;
  color: #6b747b;
}

#lightbox img {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

#lightbox ul {
  list-style-position: inside;
  list-style: none;
  padding: 0px;
  margin-top: -15px;
}

#lightbox ul li {
  margin: 15px 0px;
  color: #6b747b;
}

#lightbox ul .fas {
  color: #5f4dee;
  margin-right: 5px;
}

#lightbox .lightbox-button1, #lightbox .lightbox-button2 {
  padding: 14px 35px;
  border: 1px solid #f0ffff;
  border-radius: 25px;
  background-color: #5f4dee;
  color: #f0ffff;
  border: 1px solid #5f4dee;
  margin: 0px 5px;
  font-weight: 600;
  cursor: pointer;
}

#lightbox .lightbox-button1:hover, #lightbox .lightbox-button2:hover {
  background-color: #f0ffff;
  color: #5f4dee;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#lightbox .lightbox-button2 {
  padding: 14px 35px;
  border: 1px solid #f0ffff;
  border-radius: 25px;
  background-color: transparent;
  color: #494949;
  border: 1px solid #494949;
}

#lightbox .lightbox-button2:hover {
  background-color: #494949;
  color: #f0ffff;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/********** media do começo do site ********/
@media (max-width: 480px) {
  p {
    font-size: 14px;
  }
  li {
    font-size: 14px;
  }
  header {
    padding: 10px;
  }
  div.header-container > div {
    margin: 0px 1% 40px 1%;
  }
  .btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container-carousel {
    max-width: 210px;
  }
  .carusel {
    margin: 0px 60px 60px 60px;
  }
  .carusel img {
    margin-right: 0px;
  }
  .functions {
    padding: 0px 20px;
  }
  .functions h2 {
    font-size: 1.4em;
  }
  /********** media do meio do site ********/
  .marketing-ctn p {
    font-size: 14px;
  }
  .automation-container {
    padding: 0px 20px;
  }
  .flex {
    padding: 0px 20px;
    margin: 0px;
  }
  .flex h3 {
    font-size: 1.4em;
  }
  aside .login-btn {
    padding: 15px 26%;
  }
  .email-box {
    padding: 20px;
  }
  .email-box h2 {
    font-size: 1.4em;
  }
  #personal img {
    width: 100px;
    margin: 0px;
    margin-bottom: 10px;
  }
  .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .links span {
    display: block;
    margin-bottom: 30px;
    margin-bottom: 10px;
  }
  #frame1-btn, #frame2-btn, #frame3-btn {
    font-size: 1em;
  }
  blockquote {
    font-size: 14px;
  }
  .swiper-button-next::after {
    padding-right: 10px;
    font-size: 30px;
  }
  .swiper-button-prev::after {
    padding-left: 10px;
    font-size: 30px;
  }
  /***** media dos modais ****/
  .modalplay {
    height: 210px;
  }
}

/********** media do começo do site ********/
@media (min-width: 930px) {
  body {
    border-top: 20px solid #5f4dee;
    overflow-x: hidden;
    padding: 0px;
  }
  div.header-container {
    max-width: 1250px;
    margin: 0px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  div.header-container img {
    position: relative;
    left: 40px;
    width: 43%;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
    margin: 0px;
  }
  div.header-container > div {
    max-width: 43%;
    margin-left: 50px;
    margin-bottom: 0px;
    text-align: justify;
  }
  .menu {
    display: inline;
  }
  .content-top {
    padding-top: 160px;
  }
  .content-top img {
    margin: 0px;
  }
  .container-carousel {
    max-width: 1000px;
  }
  .btns {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  h1 {
    font-size: 3.5em;
    text-align: left;
  }
  h2 {
    font-size: 2em;
  }
  /********** media do meio do site ********/
  section div {
    max-width: 970px;
  }
  #frame1-btn, #frame2-btn, #frame3-btn {
    font-size: 1.3em;
  }
  section div.marketing-ctn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    margin: 0px 10px;
  }
  section div.marketing-ctn img {
    width: 60%;
    margin-bottom: 20px;
  }
  section div.marketing-ctn p {
    width: 300px;
  }
  .links {
    margin-bottom: 35px;
  }
  .features-frame {
    margin: 30px 0px;
  }
  .features-img {
    width: 80%;
    margin-top: 0px;
  }
  .flex {
    margin: 0px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .flex:nth-child(1) > span:nth-child(1) {
    padding-right: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 500px;
  }
  .flex .text-float {
    max-width: 500px;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: right;
  }
  .flex .price {
    margin-bottom: 0px;
  }
  .features-img, .features-frame {
    width: 46%;
  }
  .email-box {
    padding: 80px;
    margin: 0px auto;
  }
  .email-box input.txt {
    width: 600px;
  }
  .container-gray .image-ctn {
    margin: 0px;
  }
  #personal .container-swiper {
    margin: 80px auto;
  }
  #personal .swiper-slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #personal .swiper-slide span {
    text-align: left;
  }
  #personal img {
    width: 150px;
    margin-bottom: 0px;
    margin-right: 40px;
  }
  section h2 {
    max-width: 600px;
  }
  /********media do final******/
  footer > div {
    max-width: 85%;
    margin: auto;
    padding: 30px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #5f4dee;
  }
  footer > div span {
    max-width: 320px;
    margin: 0px 10px;
  }
  footer span p {
    margin-bottom: 0px;
  }
  /***** media dos modais ****/
  #lightbox .lightbox-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #lightbox .lightbox-container h2 {
    margin-top: 0px;
  }
  #lightbox .lightbox-container img {
    width: 67%;
    margin-top: 0px;
    margin-right: 50px;
  }
  #lightbox .modalContent {
    padding: 50px;
  }
  .modalplay {
    height: 460px;
  }
}

/********** media do começo do site ********/
@media (max-width: 930px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #5f4dee;
    position: fixed;
    height: 100vh;
    width: 100%;
    right: -100%;
    top: 0;
    padding-top: 65px;
  }
  .menu a {
    margin: 0px 0px 5px 15px;
  }
  .burguer {
    display: block;
    cursor: pointer;
    z-index: 999;
  }
  .burguer img {
    width: 30px;
  }
  #check:checked ~ .menu {
    right: 0;
    -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
  }
  .dropbox {
    margin-bottom: 10px;
    text-align: left;
  }
  .dropbox-content {
    margin-top: 10px;
    position: relative;
    z-index: 0;
  }
  .dropbox-content ul {
    display: block;
    width: 95vw;
    list-style-type: none;
    text-align: left;
    padding: 10px 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .dropbox-content #modal-btn {
    margin-left: 15px;
  }
  .header-container {
    max-width: 700px;
    margin: auto;
  }
  /********** media do meio do site ********/
  section div {
    max-width: 700px;
  }
  #frame1-btn, #frame2-btn, #frame3-btn {
    font-size: 1.3em;
  }
  /***** media dos modais ****/
  .modalplay {
    height: 360px;
  }
}

/********** media do começo do site ********/
@media (min-width: 1200px) {
  div.header-container {
    max-width: 1250px;
    margin: 0px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.header-container img {
    position: relative;
    left: 105px;
    width: 55%;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  div.header-container > div {
    max-width: 40%;
    margin-left: 60px;
    text-align: justify;
  }
  /********** media do meio do site ********/
  section div {
    max-width: 1100px;
  }
  /***** media dos modais ****/
  .modalplay {
    height: 510px;
  }
}
/*# sourceMappingURL=estilo.css.map */