@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* 
foto:
largura:155
margin:45
container:
largura:1000
*/
/*keyframe da animação do carrosel*/
@-webkit-keyframes scroll {
  0% {
    right: 0px;
  }
  15% {
    right: 0px;
  }
  /*porcentagem anterior ao estouro para aumentar a velocidade do movimento*/
  16% {
    right: 205px;
  }
  31% {
    right: 205px;
  }
  32% {
    right: 410px;
  }
  49% {
    right: 410px;
  }
  50% {
    right: 615px;
  }
  65% {
    right: 615px;
  }
  66% {
    right: 820px;
  }
  83% {
    right: 820px;
  }
  84% {
    right: 1025px;
  }
  99% {
    right: 1025px;
  }
  100% {
    right: 1230px;
  }
  /*soma de todas as imagens mais o margin*/
}
@keyframes scroll {
  0% {
    right: 0px;
  }
  15% {
    right: 0px;
  }
  /*porcentagem anterior ao estouro para aumentar a velocidade do movimento*/
  16% {
    right: 205px;
  }
  31% {
    right: 205px;
  }
  32% {
    right: 410px;
  }
  49% {
    right: 410px;
  }
  50% {
    right: 615px;
  }
  65% {
    right: 615px;
  }
  66% {
    right: 820px;
  }
  83% {
    right: 820px;
  }
  84% {
    right: 1025px;
  }
  99% {
    right: 1025px;
  }
  100% {
    right: 1230px;
  }
  /*soma de todas as imagens mais o margin*/
}

* {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  padding: 5px;
  color: #f0ffff;
}

hr {
  margin: 10px 0px;
  border: 1px solid;
}

/******/
header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 40px;
  background-color: #5f4dee;
  color: #f0ffff;
}

header img {
  display: inline;
  width: 75px;
  z-index: 999;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_top {
  background-color: #5f4dee;
  padding-top: 40px;
  color: #f0ffff;
  overflow: hidden;
}

svg.header-decoration {
  margin: -10px;
}

.container_carousel {
  position: relative;
  max-width: 1000px;
  overflow-y: auto;
  overflow-x: scroll;
  margin-bottom: 60px;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0;
  cursor: -webkit-grab;
  cursor: grab;
  margin: 0px;
  padding: 20px 0px;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.carousel:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.carousel img {
  display: block;
  margin-right: 55px;
}

.carousel::-webkit-scrollbar {
  width: 0px;
  border-radius: 5px;
}

.container_carousel::-webkit-scrollbar {
  height: 0px;
}

.burguer {
  display: none;
}

#check {
  display: none;
}

.menu {
  text-align: end;
  float: right;
  font-size: 0.9rem;
  font-weight: 600;
}

/********não soube colocar o menu "burguer"*******/
.dropbox {
  display: inline-block;
  margin-right: 5px;
}

.dropbox:hover .dropbox_content {
  display: block;
  z-index: 999;
}

.dropbox > a::after {
  content: '';
  position: absolute;
  width: 0;
  top: 47%;
  margin-left: 2px;
  border-top: 5px solid white;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.dropbox_content {
  display: none;
  position: absolute;
  background-color: #5f4dee;
  border-radius: 0px 0px 4px 4px;
  font-size: 14px;
  font-weight: 600;
}

.dropbox_content ul {
  list-style-type: none;
  text-align: left;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.315);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.315);
}

.dropbox_content hr {
  border: none;
  height: 1px;
  background-color: #f0ffff;
  margin: 13px 0px;
}

.menu .login_btn {
  padding: 6px 25px;
  border: 1px solid #f0ffff;
  border-radius: 25px;
  margin: 0px 10px;
  z-index: 3;
}

.menu .login_btn:hover {
  background-color: #f0ffff;
  color: #5f4dee;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

div h1 p {
  display: inline;
}

div.header_container {
  margin: 60px 15px 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.header_container img {
  -webkit-box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.432);
          box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.432);
  border-radius: 16px;
  margin-bottom: 40px;
}

div.header_container p {
  margin: 20px 0px 30px 0px;
}

div.header_container > div {
  margin: 0px 5% 40px 5%;
  text-align: center;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btns a.container_btn {
  padding: 12px 45px;
  border: 1px solid #f0ffff;
  border-radius: 25px;
  background-color: #f0ffff;
  color: #5f4dee;
  margin-right: 7px;
}

.btns a.container_btn:hover {
  background-color: #5f4dee;
  color: #f0ffff;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.btns a.container_btn2 {
  padding: 12px 45px;
  border: 1px solid #f0ffff;
  border-radius: 25px;
  margin-left: 7px;
}

.btns a.container_btn2:hover {
  background-color: #f0ffff;
  color: #5f4dee;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media (min-width: 930px) {
  body {
    border-top: 15px solid #5f4dee;
    overflow-x: hidden;
    padding: 0px;
  }
  div.header_container {
    max-width: 1250px;
    margin: 0px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.header_container img {
    position: relative;
    left: 75px;
    width: 55%;
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  div.header_container > div {
    max-width: 40%;
    margin-right: 1%;
    text-align: justify;
  }
  .menu {
    display: inline;
  }
  .content_top {
    padding-top: 160px;
  }
  .content_top img {
    margin: 0px;
  }
  .btns {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  h1 {
    font-size: 3.5em;
    text-align: left;
  }
  h2 {
    font-size: 2em;
  }
}

@media (max-width: 930px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #5f4dee;
    position: fixed;
    height: 100vh;
    width: 100%;
    right: -100%;
    /*********************mudar aqui*******************/
    top: 0;
    padding-top: 65px;
  }
  .menu a {
    margin: 0px 0px 5px 15px;
  }
  .burguer {
    display: block;
    cursor: pointer;
    z-index: 999;
  }
  .burguer img {
    width: 30px;
  }
  #check:checked ~ .menu {
    right: 0;
    -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
  }
  .dropbox {
    margin-bottom: 10px;
    text-align: left;
  }
  .dropbox_content {
    margin-top: 10px;
    position: relative;
    z-index: 0;
  }
  .dropbox_content ul {
    display: block;
    width: 95vw;
    list-style-type: none;
    text-align: left;
    padding: 10px 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .dropbox a::after {
    top: 28.3%;
  }
}

@media (max-width: 480px) {
  header {
    padding: 15px 10px;
  }
  div.header_container > div {
    margin: 0px 10px 1%;
  }
  .content_top {
    padding-top: 60px;
  }
  .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .btns a.container_btn {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .btns a.container_btn2 {
    margin-left: 0px;
  }
  .carusel {
    margin: 0px 60px 60px 60px;
  }
}

/******/
section {
  margin: 80px 0px;
}

section div {
  margin: auto;
  max-width: 1050px;
}

section .description {
  text-align: center;
  color: #5f4dee;
}

section h2 {
  max-width: 400px;
  text-align: center;
  margin: 5px auto 20px auto;
  color: #222222;
}

section div.marketing_ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0px;
}

section div.marketing_ctn span {
  margin-bottom: 40px;
}

section div.marketing_ctn img {
  width: 50%;
}

section div.marketing_ctn p {
  /********************************voltar para mexer aqui****************************/
  max-width: 600px;
  color: #6b747b;
  font-size: 1em;
}

.container_gray {
  background-color: #ebebeb;
  padding: 80px 0px;
  /*.play-button{
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        background-color: $primary_color;
        border-radius: 50%;

        span{
            position: relative;
            z-index: 3;
            width: 0;
            height: 0;
            background-color: $primary_color;
            border-left: 26px solid #fff;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
        }
    }*/
}

.container_gray nav {
  margin: 40px 0px 0px 0px;
  display: block;
  text-align: center;
}

.container_gray nav a {
  color: #b8b8b8;
  padding-bottom: 5px;
  border-bottom: 2px solid #b8b8b8;
  margin: -2px;
}

.container_gray .image_ctn {
  margin: 0px 15px;
}

.container_gray > div > p {
  margin: 20px auto;
  color: #494949;
  max-width: 650px;
  text-align: center;
}

.links {
  margin-bottom: 0px;
}

.links span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  border-bottom: 2px solid #b8b8b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 5px;
  color: #6b747b;
  cursor: pointer;
  display: inline;
  font-size: 1.3em;
}

.links span:hover {
  color: #5f4dee;
  border-color: #5f4dee;
}

.links span p {
  display: inline;
  margin-right: 12px;
  font-weight: 600;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex ul {
  padding: 0px;
  list-style-position: inside;
  list-style-type: square;
}

.flex ul li {
  margin-bottom: 10px;
  color: #494949;
}

.flex ul li::marker {
  color: #5f4dee;
  margin: 0px;
}

.flex h3 {
  font-size: 1.8em;
  color: #222222;
}

.flex p {
  margin: 20px 0px;
  color: #494949;
}

.flex span {
  max-width: 500px;
}

.flex .login_btn {
  padding: 12px 45px;
  background-color: #5f4dee;
  border-radius: 25px;
  margin: 10px 0px;
  position: relative;
  top: 20px;
}

.flex .login_btn:hover {
  background-color: #f0ffff;
  color: #5f4dee;
  border: 1px solid #5f4dee;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.flex hr {
  border-color: #b8b8b8;
}

.features_img {
  width: 80%;
  margin: 45px 0px;
}

.flex > .price {
  border: 2px solid #5c2be23d;
  padding: 60px 30px;
  max-width: 250px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 30px;
}

.price h3 {
  color: #5f4dee;
  font-size: 1.2em;
}

.price ul {
  text-align: justify;
  list-style-position: inside;
  padding: 0px 5px;
  text-indent: 0px;
}

.price .valor {
  font-size: 2.7em;
  font-weight: 700;
  margin-bottom: 0px;
}

.price p {
  margin-top: 0px;
}

.container-swiper {
  margin: 80px auto;
}

#personal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

#personal .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  padding: 0px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#personal .swiper-slide span {
  text-align: center;
}

#personal img {
  width: 150px;
  border-radius: 50%;
  margin-right: 40px;
}

#personal blockquote {
  color: #6b747b;
  font-style: italic;
  margin-bottom: 10px;
}

#personal cite {
  font-weight: 600;
  font-style: normal;
}

#personal::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

.email_box {
  background-color: #ebebeb;
  border-radius: 6px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 5px;
}

.email_box div {
  text-align: center;
}

.email_box h2 {
  text-align: center;
  max-width: 450px;
  margin: 0px auto 40px auto;
  font-size: 1.5em;
}

.email_box input {
  border: 2px solid #b8b8b8;
  height: 40px;
  padding: 15;
}

.email_box .check {
  height: 15px;
  margin-right: 3px;
}

.email_box label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0px 15px 0px;
  font-size: 13px;
  color: #6b747b;
}

input.txt {
  width: 100%;
}

form .login_btn {
  position: relative;
  background-color: #5f4dee;
  width: 100%;
  height: 3rem;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
  color: white;
}

form .login_btn:hover {
  border-color: #5f4dee;
  background-color: #f0ffff;
  color: #5f4dee;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media (min-width: 930px) {
  section div.marketing_ctn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
  }
  section div.marketing_ctn img {
    width: 60%;
    margin-bottom: 20px;
  }
  section div.marketing_ctn p {
    width: 300px;
  }
  nav.links {
    margin-bottom: 35px;
  }
  .features_img {
    width: 80%;
    margin-top: 0px;
  }
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .flex .flex span {
    margin-bottom: 40px;
  }
  .flex .price {
    margin-bottom: 0px;
    padding: 60px 30px;
  }
  .features_img {
    width: 46%;
  }
  .email_box {
    padding: 80px;
    margin: 0px auto;
  }
  .email_box input.txt {
    width: 600px;
  }
  .container_gray .image_ctn {
    margin: 0px;
  }
  #personal .swiper-slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #personal .swiper-slide span {
    text-align: left;
  }
  #personal img {
    width: 150px;
  }
  section h2 {
    max-width: 600px;
  }
}

#content-icons {
  margin: 30px auto;
  text-align: center;
  font-size: 0.8em;
}

#content-icons a {
  padding: 0px;
}

#content-icons .fab {
  width: 23px;
  border-radius: 50%;
  padding: 12px;
  background-color: #5f4dee;
  color: white;
  font-size: 2em;
  margin: 0px 5px;
}

#content-icons .fab:hover {
  color: #5f4dee;
  background-color: #ebebeb;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media (max-width: 480px) {
  .flex {
    padding: 0px 10px;
  }
  aside .login_btn {
    padding: 15px 26%;
  }
  .email_box {
    padding: 20px;
  }
  #personal img {
    width: 100px;
    margin: 0px;
  }
}

/******/
footer {
  color: #ebebeb;
  padding: 0px;
  background-color: #5f4dee;
  font-size: 14px;
}

footer span {
  max-width: 320px;
  margin-bottom: 20px;
}

footer h4 {
  margin: 10px 0px;
}

footer p {
  margin-right: 5px;
}

footer ul {
  list-style: none;
  padding-left: 0px;
}

footer li {
  margin-bottom: 5px;
}

footer div {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #5f4dee;
}

.footer-frame {
  fill: #5f4dee;
  position: relative;
  top: 5px;
}

@media (min-width: 930px) {
  footer > div {
    padding: 30px 120px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #5f4dee;
  }
  footer span p {
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=estilo.css.map */