@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
header{
    padding: 30px 40px;
    background-color: rgb(92, 43, 226);
    color: azure;
}
header > img{
    display: inline;
    width: 15%;
}
.menu{
    display: none;
    text-align: end;
    float: right;
}
/********não soube colocar o menu "burguer"*******/
a{
    text-decoration: none;
    padding: 5px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    margin: 10px 0px;
    border: 1px solid ;
}
.dropbox {
    display: inline-block;
    margin-right: 5px;
}
.dropbox:hover .dropbox_content{
    display: block;
}
.dropbox_content{
    display: none;
    position: absolute;
    background-color: #5c2be2;
}
.dropbox_content ul{
    list-style-type: none;
    text-align: justify;
    padding: 10px 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.315);
}
.menu .login_btn{
    padding: 6px 25px;
    border: 1px solid white;
    border-radius: 15px;
}
.login_btn:hover{
    color: #5c2be2;
    background-color: white;
    transition-duration: 0.5s;
}
div h1 p{
    display: inline;
}
div.header_container{
    margin: 60px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.header_container > div{
    margin: 0px 5% 40px 5%;
    text-align: center;
}
div.header_container img{
    box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.432);
    border-radius: 16px;
    margin-bottom: 40px;
}
div.header_container p{
    margin: 20px 0px 30px 0px;
}
a.container_btn{
    padding: 12px 45px;
    border: 1px solid azure;
    border-radius: 25px;
}
a.container_btn:hover{
    background-color: azure;
    color: rgb(92, 43, 226);
    transition-property: background-color, color;
    transition-duration: 0.5s;
}
.header-decoration{
    margin: -40px;
}
@media screen and (min-width:930px){
    header > img{
        width: 5%;
    }
    div.header_container{
        max-width: 1050px;
        margin: 60px auto 0px auto;
        flex-direction: row;
        align-items: flex-start;
    }
    div.header_container > div{
        width: 46%;
        margin-right: 4%;
        text-align: justify;
    }
    div.header_container img{
        width: 46%;
        margin-right: 4%;
        transform: rotate(3deg);
    }
    .menu{
        display: inline;
    }
}
@media screen and (max-width:480px){
    header{
        margin: 0px;
        padding: 15px 4px 35px 4px;
    }
    div.header_container > div{
        margin: 0px 1% 40px 1%;
    }
}
/*******************final do topo da página****************/
section{
    margin: 80px 0px;
}

section div{
    margin: auto;
    max-width: 850px;
}
section .description{
    text-align: center;
    color: #5c2be2;
}
section h2{
    max-width: 400px;
    text-align: center;
    margin: 5px auto 20px auto;
    color: #222222;
}
section div.marketing_ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0px;
}
div.marketing_ctn img{
    width: 55%;
}
div.marketing_ctn p{
    color: #494949;
}

.container_gray{
    background-color: #ebebeb;
    padding: 80px 0px;
}
.container_gray > div> p{
    margin-bottom: 40px;
    color: #494949;
    max-width: 650px;
    margin: auto;
    text-align: center;
}
.container_gray nav{
    margin: 40px 0px 0px 0px;
    display: block;
    text-align: center;
}
.container_gray nav a{
    color: #b8b8b8;   
    padding-bottom: 5px;
    border-bottom: 2px solid #b8b8b8;
    margin: -2px; 
}
.links{
    margin-bottom: 0px;
}
.links a:hover{
    color: #5c2be2;
    border-bottom: 2px solid #5c2be2;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.features_img{
    width: 80%;
    margin-top: 45px;
}
.flex ul{
    padding: 0px;
    list-style-position: inside;
    list-style-type: square;
}
.flex ul > li{
    margin-bottom: 10px;
    color: #494949;
}
.flex li::marker{
    color: #5c2be2;
    margin: 0px;
}
.flex p{
    margin: 20px 0px ;
    color: #494949;
}
.flex span{
    max-width: 420px;
}
.flex .login_btn{
    padding: 12px 45px;
    background-color: #5c2be2;
    border-radius: 25px;
    margin: 10px 0px;
    position: relative;
    top: 20px;
}
.flex .login_btn:hover{
    background-color: azure;
    color: #5c2be2;
    border: 1px solid #5c2be2;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}
.flex > .price{
    border: 2px solid #5c2be23d;
    padding: 35px 5px 50px 5px;
    max-width: 250px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 30px;
}
.price h3{
    color: #5c2be2;
}
.flex hr{
    margin: 25px;
    border-color: #b8b8b8;
}
.price ul{
    text-align: justify;
    list-style-position: inside;
    padding: 0px 5px;
    text-indent: 0px;
}
.price .valor{
    font-size: 2.7em;
    font-weight: 700;
    margin-bottom: 0px;
}
.price p{
    margin-top: 0px;
}
.personal{
    margin: 80px 0px;
    display: flex;
    align-items: center;
}
.personal img{
    width: 20%;
    border-radius: 50%;
    margin-right: 20px;
}
.email_box{
    background-color: #ebebeb62;
    border-radius: 6px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px;
}
.email_box h3{
    text-align: center;
    max-width: 450px;
    margin-bottom: 20px;
    font-size: 1.5em;
}
.email_box input{
    border: 2px solid #b8b8b8;
    height: 40px;
    padding: 15;
}
input.txt{
    width: 90%;
}
aside .login_btn{
    background-color: #5c2be2;
    padding: 15px 36%;
    border: 1px solid white;
    border-radius: 25px;
}
aside .login_btn:hover{
    border: 1px solid #5c2be2;
}
@media screen and (min-width:930px){
    section div.marketing_ctn{
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
    }
    section div.marketing_ctn span{
        margin-bottom: 60px;
    }
    div.marketing_ctn img{
        width: 80%;
    }
    div.marketing_ctn p{
        max-width: 400px;
    }
    nav.links{
        margin-bottom: 35px;
    }
    .features_img{
        width: 80%;
        margin-top: 0px;
    }
    .flex{
        flex-direction: row;
        align-items: flex-start;
    }
    .flex span{
        margin-bottom: 40px;
    }
    .flex > .price{
        margin-bottom: 0px;
    }
    .features_img{
        width: 46%;
        margin: 20px 0px;
    }
    .email_box{
        padding: 80px;
        margin: 0px;
    }
    input.txt{
        width: 600px;
    }
}
@media screen and (max-width:480px){
    .flex{
        padding: 0px 10px;
    }
    aside .login_btn{
        padding: 15px 26%;
    }
    .email_box{
        padding: 20px;

    }
    .container_gray .image_ctn{
        margin: 0px 5px;

    }
    
}
/*************final do contúedo principal**************/

footer{
    color: #ebebeb;
    padding: 0px;
    background-color: 2;
}
footer > div{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5c2be2;
}
footer span{
    max-width: 350px;
}
footer span p{
    margin-bottom: 25px;
}
.footer-frame{
    padding: -40px;
    position: relative;
    top: 5px;
}
@media screen and (min-width:930px){
    footer > div{
        padding: 30px 120px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        background-color: #5c2be2;
    }
    footer span p{
        margin-bottom: 0px;
    }
}
